<div class="p-4 mt-2 container-fluid text-white sticky-bottom d-flex justify-content-center" style="background-color: #72A4C2;">
  
    <div class="col-3">
      <h5>Contact Us</h5>
      <address style="font-size: small;">
        <strong>Revature</strong><br>
        11730 Plaza America Dr,<br>
        Reston, VA, 20190, US<br>
        <abbr title="Phone"></abbr> <a class="text-white" href="tel:(703) 570-8181">(703) 570-8181</a>
      </address>
      <h5>Social</h5>
      <div class="row">
        <!-- Open these in new tab also just a general idea if we want to implement other socials -->
        <div class="col-2"><a target="_blank" href="https://twitter.com/WeAreRevature"><img
              src="https://pngimg.com/uploads/twitter/twitter_PNG1.png" height="32" alt=""></a></div>
      </div>
    </div>


    <div class="col-3">
      <h5>About Us</h5>
      <!-- Taken from project description -->
      <p style="font-size: small;">Revature Community aims at providing a place for Revature employee's to post or ask questions about things to
        do in particular locations. Also to connect the Revature employees on 4 basic categories: Housing,
        Entertainment, Food, and Events.</p>
    </div>
  
</div>


<body id="footer" class="text-center bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- <ul>
                    <li><a id ="button" routerLink="/readpost" routerLinkActive="active">Posts</a></li>
                    <li><a id ="button" routerLink="/landing" routerLinkActive="active">Home</a></li>
                </ul> -->
        <div>Copyright © Revature. All rights reserved.</div>
      </div>
    </div>
  </div>
</body>