

<div class="container text-white">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 mb-md-0 mb-2">
        <h2>Contact Us</h2>
        <address>
          <strong>Revature</strong><br>
          11730 Plaza America Dr,<br>
          Reston, VA, 20190, US<br>
          # (703) 570-8181
        </address>
        <h4>Social</h4>
        <div class="row">
          <!-- Open these in new tab also just a general idea if we want to implement other socials -->
          <div class="col-2"><a href="https://twitter.com/WeAreRevature"><img
                src="https://pngimg.com/uploads/twitter/twitter_PNG1.png" height="32" alt=""></a></div>
        </div>
      </div>
  
      <div class="col-lg-4 col-12">
        <h2>About Us</h2>
        <!-- Taken from project description -->
        <p>Revature Community aims at providing a place for Revature employee's to post or ask questions about things to
          do in particular locations. Also to connect the Revature employees on 4 basic categories: Housing,
          Entertainment, Food, and Events.</p>
      </div>
    </div>
  </div>
  <hr>
  <body id="footer" class="text-center bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- <ul>
                    <li><a id ="button" routerLink="/readpost" routerLinkActive="active">Posts</a></li>
                    <li><a id ="button" routerLink="/landing" routerLinkActive="active">Home</a></li>
                </ul> -->
                <div>Copyright © Revature. All rights reserved.</div>
            </div>
        </div>
    </div>
</body>