
<div id="response-container" style="height: 100%;">
  <div id="response-body">
    <div id="res-try" *ngFor = "let response of responses; let i = index;">
      <div id="box{{i}}{{postId}}">
      <div id="res" class="response" [ngStyle]="{'display': getDisplayType(response.showMore)}">
        <div *ngIf="response.showEdit" id="optionsmenu" class="options" (click) = "displayMenu(); toggl === i ? toggl = i : toggl = i">. . .
          <div id = "textmenu" class = "options"  *ngIf = "displayOptions && toggl === i">
            <p class = "clickable" (click) = "editReply(); editButton = true">Edit</p>
            <p class = "clickable" (click) = "submitDelete()">Delete</p>
          </div>
        </div>
          <div id="username">
            {{response.username}}
          </div>
          <div>
            <textarea [(ngModel)]="editedResponse" class= "resinput" id="res-inputupdate{{i}}{{postId}}"></textarea>
            <span id="res{{i}}{{postId}}">{{response.response | responsePipe:response.show}}</span>
            <span class="show-more" *ngIf="!response.show" (click)="changeParam(response.id)"> ...Show More</span>
          </div>
          <div>
            <div id="update-button" *ngIf = "editButton && toggl === i" (click)="submitUpdateReply();toggl === i ? toggl = null : toggl = null">submit</div>
            <div id="update-button" *ngIf = "editButton && toggl === i" (click)="cancelReplyUpdate();toggl === i ? toggl = null : toggl = null">cancel</div>
          </div>
            
      </div>
    </div>
    </div>
  </div>
    <div id="resp-input-container">
      <textarea id="response-input" rows="1" (keyup)="autoGrow()" placeholder="Response" value="currentResponse" [(ngModel)]="currentResponse" (keydown)="submitEnter($event)"#textArea></textarea>
      <div class="align-middle" id="submit-resp" (click)="handleResponses()">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 172 172" style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M148.92333,100.19l-102.62667,51.31333c-11.395,5.66167 -24.79667,-2.65167 -24.79667,-15.33667v-28.66667l89.01,-16.69833c5.375,-1.00333 5.375,-8.6 0,-9.60333l-89.01,-16.69833v-28.66667c0,-12.685 13.40167,-20.99833 24.79667,-15.33667l102.62667,51.31333c11.68167,5.87667 11.68167,22.50333 0,28.38z"></path><path d="M134.23883,86l-112.73883,34.873v-69.746z" opacity="0.35"></path></g></g></svg>
      </div>
    </div>
</div>
 