<div class="p-3 d-flex justify-content-center" [ngClass]="displayCreate == 'true' ? 'show' : 'hidden'" id="post-container" >
<div class="revature" [ngSwitch]="allLocations">
  <div id="new-loc" class="btn revature" (click)="switch()">Add New Location</div>
  <div id="sel" *ngSwitchCase="'all'">
    <label for="location">Location:&nbsp;&nbsp;</label>
    <!-- <label for="locs">Choose a location:</label> -->
    <!-- find for location id -->
    <select [(ngModel)]="this.locationForPosts" name="location" id="location"> 
      <option *ngFor="let loc of locationdata" value="{{loc.id}}">
        {{ loc.city }}, {{ loc.state }}
      </option>
    </select>
    <!-- <button class="btn revature" (click)="addLocationToPost()">Add Location to Post</button> -->
    <label for="category">Category:&nbsp;</label>
    <select name="categoryType" id="category" [(ngModel)]="this.categoryType">
      <option value="Housing">Housing</option>
      <option value="Entertainment">Entertainment</option>
      <option value="Food">Food</option>
      <option value="Event">Event</option>
    </select>
  </div>
  <div *ngSwitchCase="'create'">
    <input
      id="create-city"
      [(ngModel)]="city"
      placeholder="Enter Your City"
    />
    <select id="select-city" [(ngModel)]="state">
      <option value="" disabled selected>Select State</option>
      <option *ngFor="let state of states" [value]="state">
        {{ state }}
      </option>
    </select>
    <button class="btn revature" (click)="addLocation()" (click)= "addLocationToPost()" type="submit">
      Add
    </button>
    <button class="btn revature" (click)="switch()">All Locations</button>
  </div>

  <form #form="ngForm" action="readpost" method="get">
    <div class="form-group">
      <label>Title: </label>
      <input
        type="text"
        class="form-control p-input"
        placeholder="Title"
        name="Title"
        [(ngModel)]="title"
        required
      />
    </div>
    
    <!-- <select [(ngModel)]="this.locationValue" name="location" id="location">
    <option
      *ngFor="let l of Locations; index as locationValue"
      [value]="locationValue"
    >
      {{ l }}
    </option>
  </select> -->
    <!-- <div class="revature" [ngSwitch]="allLocations">
    <div *ngSwitchCase="'all'">
      <label for="locs">Choose a location:</label>
      <select name="locs" id="locs">
        <option *ngFor="let loc of locationdata" [value]="loc.id">
          {{ loc.location }}
        </option>
      </select>
      <button class="btn revature" (click)="switch()">New Location</button>
    </div>
    <div *ngSwitchCase="'create'">
      <input
        style="width: 30%"
        [(ngModel)]="city"
        placeholder="Enter Your City"
      />
      <select [(ngModel)]="state">
        <option *ngFor="let state of states" [value]="state">
          {{ state }}
        </option>
      </select>
      <button class="btn revature" (click)="addLocation()" type="submit">
        Add
      </button>
      <button class="btn revature" (click)="switch()">All Locations</button>
    </div> -->
    <!-- </div> -->
    <div class="form-group">
      <label>Content: </label>
      <textarea
        type="text"
        class="form-control p-text"
        placeholder="Content"
        name="content"
        [(ngModel)]="content"
        (keyup)="autoGrow()"
        required
        #textArea
      >
      </textarea>
    </div>
    <div>
      <div
        class="btn post-submit"
        type="button"
        (click)="submitPost()">
        Submit
      </div>
      <div
      class="btn post-cancel"
      type="button"
      (click)="cancelPost()">
      Cancel
    </div>
    </div>
  </form>
</div>

</div>